
body{
  position: relative;
}

.jumbotron{
  	background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#6B81A2), to(#FF130A));
  	}

.titulo1{
  	font-size: 25px;
     color: white;
  		}

.h1{
  			
  		}

.img1{
  padding-left: 200%;
  padding-right: 0%;
  width:30px;
  height:30px;


}


